/**
 * The `env()` function used in this block of code
 * allows us to reference special variables that might be defined
 * by certain browsers. In this case, we are making sure that
 * the app stays within the 'safe' viewable area of a mobile phone,
 * and isn't covered up by the phone's UI.
 *
 * @see: https://developer.mozilla.org/en-US/docs/Web/CSS/env
 */

h1 {
	color: #1a1a1a !important;
	font-family: 'Caveat', cursive;
}

.main-layout {
	border: 4px solid #e6e6ee !important;
	box-shadow: none !important;
	border-radius: 8px !important;
}

.list-section {
	margin-left: 40px !important;
}

.item-name {
	font-family: '', sans-serif;
	font-weight: 400;
}
